.my-8.p-4.rounded-md.bg-white.shadow-lg
    .flex.items-center.justify-between
        h2.font-bold.text-2xl.mb-1= `#${index + 1}`
        if tap.isHomebrew || tap.isHomebrew === null
            img(src="./HB.png", alt="Icon indicating that this beer is homebrew").w-16.h-16.rounded-full.border.border-gray-200
    h3.text-xl.font-medium
        if tap.name
            span= tap.name
        else
            span.text-gray-500 Empty
    if tap.breweryName && tap.breweryWebsite
        a.block(href=tap.breweryWebsite)= tap.breweryName
    else if tap.breweryName
        span.block= tap.breweryName
    .text-md
        if tap.abv
            span= `${tap.abv}% ABV`
        if tap.abv && tap.ibu
            span.mx-3 //
        if tap.ibu
            span= `${tap.ibu} IBU`
    if tap.name && tap.description
        hr.my-4
    if tap.description
        p.text-gray-700 !{tap.description}
        
